.friend-list{
  display:flex;
  list-style: none;
  margin:auto;  
  flex-direction:column;
  align-items: center;
  
}

.item{
border: 1px solid black;
display:flex;
height: 100px;
width: 300px;
text-align: center;
align-items: center;
justify-content:flex-start;
margin:10px;
border-radius:5px;
background-color: white;
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.status{
    width: 20px;
    height: 20px;
    border-radius:50%;
    margin: 0px 10px 0px 5px;
}

.avatar{
    width: 50px;
    height: 50px;
    margin:2px;
}

.name{
    font-size: 20px;
    font-weight: 500;
    margin:2px;
}